:host {
  display: block;
  border-top: 5px solid #182240;
  border-bottom: 5px solid #182240;
  padding: 10px;
  background-color: #283354;
  margin-bottom: 50px;
}

h1 {
  background-color: #283354;
  color: #f2f1f0 !important;
}

.about-me {
  border-left: 5px solid #182240;
  border-right: 5px solid #182240;
  border-radius: 10px;
  background-color: #e6e2dd;
  min-height: 250px;
}

p {
  padding: 10px 20px;
  color: #182240;
}
