
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate>
    <div [hidden]="submitted">

      <div class="form-group">
        <label>Project Title</label>
        <input class="form-control" formControlName="title" placeholder="Title Name">
      </div>

      <div class="form-group content" [formGroup]="icon">
        <label>Icon</label>
        <input class="form-control" formControlName="details" placeholder="icon name">
      </div>

      <div  class="content" formArrayName="contents">
      <label>Content</label>
      <div *ngFor="let content of contents.controls; let i=index" [formGroupName]="i" >
        <div class="form-group">
          <label>{{content.controls.type.value | titlecase}}</label>
          <textarea class="form-control textarea" formControlName="details" placeholder="Paragraph info"></textarea>
          <button (click)="removeContent(i)" type="button">X</button>
        </div>
      </div>
      <button (click)="addContent('img')" type="button">img</button>
      <button (click)="addContent('text')" type="button">text</button>
      </div>

      <button type="button" class="btn btn-success"
      (click)="saveChanges()"
      [disabled]="projectForm.pristine">Save</button>

    </div>


    <div [hidden]="!submitted">
      <h2>Preview Project</h2>
      <div class="content">
      </div>
      <button type="submit"
      [disabled]="projectForm.pristine" class="btn btn-success">Submit</button>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button type="reset" (click)="revert()"
      [disabled]="projectForm.pristine" class="btn btn-danger">Revert</button>
    </div>
  </form>

  <p>Project Form: {{ projectForm.value | json}}</p>
  <p>Project Model: {{ newDiagnostic }}</p>
  <p>Project oldModel: {{ diagnostic }}</p>
