<div class="container-fluid">
  <h1>Projects</h1>
  <div *ngIf="selectedProject" class="project-details">
    <h1 class="bold">{{selectedProject.title | uppercase}}</h1>
    <div class="row">
        <div class="col-md-6 ">
          <img src="assets/img/{{selectedProject.icon.details}}">
        </div>
        <div class="col-md-6 details-divide">
          <p>{{selectedProject.description}}</p>
        </div>

    </div>
    <div class="text-align-right">
      <button (click)="clearSelected()" class="btn-yellow round"><i class="fa fa-window-minimize" aria-hidden="true"></i></button>
      <button (click)="gotoDetail()" class="btn-green bold round">More Details</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let project of projects"
     (click)="onSelect(project)"
     class="col-md-4 col-sm-6  nopadding ">
      <div class="project"
          [class.selected]="project === selectedProject">
        <img src="assets/img/{{project.icon.details}}">
        <button class="top-right btn-red round"
          (click)="delete(project); $event.stopPropagation()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <p class="bottom-left">{{project.title}}</p>
      </div>
    </div>
  </div>
    <a class="btn-green bold round" routerLink="/project/create">Create Project</a>

</div>
