<h1>Projects</h1>
<a routerLink="/project/create">Create Project</a>

<div *ngIf="selectedProject">
  <h2>{{selectedProject.title | uppercase}}</h2>
  <img src="assets/img/{{selectedProject.icon.details}}">
  <button (click)="gotoDetail()">More Details</button>
</div>

<ul class="projects">
  <li *ngFor="let project of projects"
  [class.selected]="project === selectedProject"
   (click)="onSelect(project)" >
    <img src="assets/img/{{project.icon.details}}">
    <span>{{project.title}}</span>
    <button class="delete"
      (click)="delete(project); $event.stopPropagation()">x</button>
  </li>
</ul>
