<div *ngIf="project">
    <h2>{{project.title}}</h2>
    <img src="assets/img/{{project.icon.details}}">

    <div *ngFor="let content of project.contents" [ngSwitch]="content.type">
          <img *ngSwitchCase="'img'" src="assets/img/{{content.details}}">
          <p *ngSwitchCase="'text'">{{content.details}}</p>
          <p *ngSwitchDefault>No content found</p>
    </div>

    <button (click)="editProject()">Edit</button>
    <div [hidden]="!edit">
        <project-form [project]="project"></project-form>
    </div>
</div>
