<div class="container text-align-center">

  <div *ngIf="project"  [hidden]="edit">
      <a class="btn-yellow" routerLink="/projects/edit/{{project._id}}">Edit</a>
      <h1>{{project.title}}</h1>
      <img src="assets/img/{{project.icon.details}}">
      <div *ngFor="let content of project.contents" [ngSwitch]="content.type">
            <img *ngSwitchCase="'img'" src="assets/img/{{content.details}}">
            <p *ngSwitchCase="'text'">{{content.details}}</p>
            <p *ngSwitchDefault>No content found</p>
      </div>
  </div>
</div>
