img {
  width: 100%
}

.project {
  border: 3px solid #01040E;
  border-radius: 5px;
  background: #A4ABC0;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-details {
  background-color: #e6e2dd;
  border-top: 3px solid #182240;
  border-bottom: 3px solid #182240;
  border-radius: 10px;
  padding: 10px 20px;
}

div .project:hover {
  background: #EBECF0 !important;
}

div.project img:hover {
  opacity: 0.5;
}

.selected {
  background-color: #CFD8DC !important;
  border: 3px dashed #182240;
  color: white;
}

.selected img {
  opacity: 0.5;
}



.top-right {
  position: absolute;
  top: 16px;
  right: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 12px;
}

.details-divide {
  border-left: 3px solid #182240;
  border-right: 3px solid #182240;
  border-radius: 10px;
  min-height: 250px;
}

:host {
  display: block;
  border-top: 5px solid #182240;
  border-bottom: 5px solid #182240;
  padding: 10px;
  background-color: #f2f1f0;;
  margin-bottom: 50px;
}
