<nav class="menu-container">
  <div class="brand-container">
    <div class="hamburger" (click)="toggleMenu()">
      <div class="slice1" [@slice1]="isMenuActive"></div>
      <div class="slice2" [@slice2]="isMenuActive"></div>
    </div>
    <span class="brand">{{ name }}</span>
  </div>
  <a routerLink="/dashboard" routerLinkActive="active-link" [ngClass]="{'hide-element': !menuActive}">Dashboard</a>
  <a routerLink="/projects" routerLinkActive="active-link" [ngClass]="{'hide-element': !menuActive}">Projects</a>
  <a routerLink="/about" routerLinkActive="active-link" [ngClass]="{'hide-element': !menuActive}">About</a>
  <a href="/assets/vitaliy-alekhnovich-resume.pdf" [ngClass]="{'hide-element': !menuActive}">Resume</a>
  <a class="nav-link" href="https://github.com/vitaovich" [ngClass]="{'hide-element': !menuActive}">
    <i class="fa fa-github" aria-hidden="true"></i> Github
  </a>
  <a href="https://www.linkedin.com/in/vitaliy-alekhnovich" [ngClass]="{'hide-element': !menuActive}">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
  </a>
  <a href="https://travis-ci.org/vitaovich/Portfolio" [ngClass]="{'hide-element': !menuActive}">
    <img src="https://travis-ci.org/vitaovich/Portfolio.svg">
  </a>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>Contact information:
    <a href="mailto:vitaliyalekhnovich@gmail.com">vitaliyalekhnovich@gmail.com</a>
  </p>
</footer>
