nav {
  background: #0B132B;
  min-height: 36px;
  color: #f2f1f0;
  padding: 12px;
}

nav div a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  margin-left: 20px;
  text-decoration: none;
}

nav div a:hover {
  color: #f2f1f0;
}

.active-link {
  color: red;
}
