.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.content {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.textarea {
  min-height: 150px;
}
