h1 {
  color: #369;
  font-family: sans-serif;
  font-size: 250%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.brand {
  font-weight: 600;
  font-size: 18px;
}
