h1 {
  color: #369;
  font-family: sans-serif;
  font-size: 250%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.brand {
  font-weight: 600;
  font-size: 18px;
}

.btn-red {
  background-color: #fc5752;
  border: 3px solid #df4744;
  text-align: center;
  color: #7e0508;
  display: inline-block;
  padding: 5px 10px;
}

.btn-yellow {
  background-color: #fdbc40;
  border: 3px solid #de9f34;
  text-align: center;
  color: #985712;
  display: inline-block;
  padding: 5px 10px;

}
.btn-green {
  background-color: #33c748;
  border: 3px solid #27aa35;
  text-align: center;
  color: #0b650d;
  display: inline-block;
  padding: 3px 7px;
}

.round {
  border-radius: 5px;
}

.bold {
  font-weight: bolder;
}

body {
  background-image: url("assets/img/background.png");
}
